/BattleRise.DesktopClient/bin
/BattleRise.DesktopClient/obj
/BattleRise.LevelStorage/bin
/BattleRise.LevelStorage/obj
/BattleRise.Models/bin
/BattleRise.Models/obj
/SaveStorage/bin
/SaveStorage/obj
/.vs
